---
import BaseHead from "@components/Head/BaseHead.astro";
import Nav from "@components/Nav.astro";
import Logo from "@components/Logo.astro";
import Card from "@components/Card.astro";
import ItchCard from "@components/ItchCard.astro";
import Footer from "@components/Footer/Footer.astro";

import { MarkdownFrontmatter, ItchGame } from "@scripts/types";
import { log } from "astro/dist/core/logger/core";

const title = "Mirth Peddlers";
const description = "A Theme for Astro";
const seoDescription = "Creek is a theme for Astro static site generator";

const allPosts = await Astro.glob<MarkdownFrontmatter>("./posts/*.md");
const sortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf());

let itchGames: ItchGame[];
try {
	const response = await fetch(`https://itch.io/api/1/${import.meta.env.ITCH_API_KEY}/my-games`);

	const data = await response.json();

	itchGames = data.games.sort((a, b) => new Date(b.published_at).getTime() - new Date(a.published_at).getTime());
} catch (error) {
	console.log(error);
}
---

<html lang="en">
	<head>
		<BaseHead title={title} description={seoDescription} />
	</head>

	<body class="">
		<header class="grid items-center md:grid-cols-2 px-lg pt-lg gap-xl">
			<div>
				<h1 data-test="header-title">
					<span class="sr-only">Mirth Peddlers</span>
					<Logo />
				</h1>
				<div class="text-lg italic text-center border-t font-display py-sm mt-sm border-stone-400">Games, LARPs, and mirthful shenanigans!</div>
			</div>
			<div class="text-sm prose">
				<p>
					<strong>Hello!</strong> I have a love for collaborative play and storytelling starting at a young age drawing monsters and creating homebrew rules for lego starship
					battles. As an adult, I've orchestrated immersive experiences, <em>and yes facilitated a number of rpgs</em>. Mirth Peddlers is my site for my game and
					experience design. I hope you can find something here to enjoy!
				</p>
				<p class="text-right">Yay games!<br />Colin</p>
			</div>
		</header>
		<main class="pt-lg">
			<section data-test="articles-section">
				<h2 class="text-3xl font-bold font-display px-lg">
					<span>Mirth Blog</span>
					<a
						href="/posts"
						class="inline-block text-lg transition-transform transform ml-base text-highlight hover:text-highlight2 hover:translate-x-1"
						data-test="see-all-link"
					>
						See All<span class="squiggle">&rarr;</span>
					</a>
				</h2>
				<div class="max-w-full overflow-x-auto p-lg">
					<div class="flex gap-md w-fit">
						{
							sortedPosts.map((p) => (
								<div class="col-span-1">
									<Card post={p} />
								</div>
							))
						}
					</div>
				</div>
			</section>

			<section class="py-lg">
				<h2 class="text-3xl font-bold font-display px-lg">
					<span>Itch.io Games</span>
					<a
						href="https://colinaut.itch.io"
						class="inline-block text-lg transition-transform transform ml-base text-highlight hover:text-highlight2 hover:translate-x-1"
						data-test="see-all-link"
					>
						See All<span class="squiggle">&rarr;</span>
					</a>
				</h2>
				<div class="max-w-full overflow-x-auto p-lg">
					<ul class="flex gap-md w-fit">
						{
							itchGames.map((game) => (
								<li class="w-60">
									<ItchCard game={game} />
								</li>
							))
						}
					</ul>
				</div>
			</section>
		</main>

		<Footer />
	</body>
</html>
