---
import dayjs from "dayjs";

export interface Props {
	post: any;
}

const { post } = Astro.props;

const tags = Array.isArray(post.frontmatter.tags) ? post.frontmatter.tags : [];
---

<a
	href={post.url}
	class="relative top-0 flex flex-col justify-between h-full overflow-hidden transition-all duration-75 ease-in-out bg-white shadow-lg min-w-[16rem] hover:-top-2 hover:shadow-xl rounded-xl"
	data-test="article-card"
>
	<img class="rounded-tr-xl rounded-tl-xl" src={post.frontmatter.hero} alt={post.frontmatter.title} width="360" height="192" />
	<div class="p-base">
		<h2 class="text-xl font-bold leading-none">
			{post.frontmatter.title}
		</h2>
		<p class="flex items-center text-xs text-gray-600 py-sm">
			{dayjs(post.frontmatter.pubDate).format("MMM DD, YYYY")}
		</p>
	</div>
	<div class="flex text-xs gap-sm px-base py-sm">
		{tags.sort((a, b) => a.localeCompare(b)).map((tag) => <span class="rounded-full bg-slate-200 pt-2xs pb-xs px-sm">{tag}</span>)}
	</div>
</a>

<style>
	img {
		width: 100%;
		aspect-ratio: 15/7;
		object-fit: cover;
	}
</style>
