---
import Nav from "../components/Nav.astro";
import BaseHead from "../components/Head/BaseHead.astro";
import BlogPost from "../components/BlogPost.astro";
import Footer from "@components/Footer/Footer.astro";
import NextPrevPost from "@components/NextPrevPost.astro";

const { content, url } = Astro.props;

const { title, description, pubDate, hero, heroAlt, tags } = content;

// Ensure that is array
const tagsArray = Array.isArray(tags) ? tags : [];
---

<html lang={content.lang || "en"}>
	<head>
		<BaseHead title={title} description={description} og={hero} />
	</head>

	<body>
		<Nav />
		<main class="pt-lg">
			<BlogPost title={title} hero={hero} heroAlt={heroAlt} pubDate={pubDate} tags={tagsArray}>
				<slot />
			</BlogPost>
			<div class="flex flex-wrap justify-center max-w-5xl mx-auto max-w-content px-sm gap-x-base gap-y-sm pb-lg pt-base">
				<a href="mailto:info@mirthpeddlers.com" class="flex px-6 py-3 mx-auto text-white bg-blue-500 rounded cursor-pointer w-fit hover:bg-amber-600 gap-sm"
					><span
						><svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" class="w-6 h-6">
							<title>envelope</title>
							<path
								fill="currentColor"
								d="M28 11.094v12.406c0 1.375-1.125 2.5-2.5 2.5h-23c-1.375 0-2.5-1.125-2.5-2.5v-12.406c0.469 0.516 1 0.969 1.578 1.359 2.594 1.766 5.219 3.531 7.766 5.391 1.313 0.969 2.938 2.156 4.641 2.156h0.031c1.703 0 3.328-1.188 4.641-2.156 2.547-1.844 5.172-3.625 7.781-5.391 0.562-0.391 1.094-0.844 1.563-1.359zM28 6.5c0 1.75-1.297 3.328-2.672 4.281-2.438 1.687-4.891 3.375-7.313 5.078-1.016 0.703-2.734 2.141-4 2.141h-0.031c-1.266 0-2.984-1.437-4-2.141-2.422-1.703-4.875-3.391-7.297-5.078-1.109-0.75-2.688-2.516-2.688-3.938 0-1.531 0.828-2.844 2.5-2.844h23c1.359 0 2.5 1.125 2.5 2.5z"
							></path>
						</svg>
					</span>
					<span>Reply By Email</span>
				</a>
				<a href="https://dice.camp/@colinaut" class="flex px-6 py-3 mx-auto text-white bg-blue-500 rounded cursor-pointer w-fit hover:bg-amber-600 gap-sm"
					><span
						><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 173.1 185.6" width="16" height="16" xml:space="preserve" class="w-6 h-6"
							><path
								fill="currentColor"
								d="M173.1 60.9c0-40.3-26.4-52.1-26.4-52.1-13.3-6-36.1-8.6-59.8-8.8h-.6C62.6.2 39.7 2.8 26.4 8.9 26.4 8.9 0 20.7 0 61c0 9.2-.2 20.2.1 31.9 1 39.4 7.2 78.2 43.6 87.8 16.8 4.4 31.2 5.4 42.8 4.7 21-1.2 32.9-7.5 32.9-7.5l-.7-15.3s-15 4.7-31.9 4.2c-16.7-.6-34.4-1.8-37.1-22.4-.2-1.8-.4-3.7-.4-5.8 0 0 16.4 4 37.3 5 12.7.6 24.7-.7 36.8-2.2 23.3-2.8 43.5-17.1 46-30.2 4.1-20.6 3.7-50.3 3.7-50.3zM142 112.8h-19.3V65.5c0-10-4.2-15-12.6-15-9.3 0-13.9 6-13.9 17.9v25.9H77v-26c0-11.9-4.7-17.9-13.9-17.9-8.4 0-12.6 5.1-12.6 15v47.3H31.1V64.1c0-10 2.5-17.9 7.6-23.7 5.3-5.9 12.1-8.9 20.7-8.9 9.9 0 17.4 3.8 22.3 11.4l4.8 8.1 4.8-8.1c4.9-7.6 12.4-11.4 22.3-11.4 8.5 0 15.4 3 20.7 8.9 5.1 5.9 7.6 13.8 7.6 23.7v48.7z"
							></path>
						</svg>
					</span>
					<span>Comment On Mastodon</span>
				</a>
			</div>
			<NextPrevPost currentUrl={url} />
		</main>
		<Footer />
	</body>
</html>
